@font-face {
    font-family: 'Arial';
    src: url('/assets/fonts/Arial.ttf');
}

@font-face {
    font-family: 'Arial-bold';
    src: url('/assets/fonts/Arial Bold.ttf');
}

@font-face {
    font-family: 'din-alt-bold';
    src: url('/assets/fonts/DIN Alternate Bold.ttf');
}

* {
    font-family: 'Arial';
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'din-alt-bold';
}

/* body */
body {
    margin: 0;
}

.uni-padding {
    padding: 0 7%;
}

/* top bar */
#topbar {
    background-color: #576574;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;
}

#social-icon {
    float: right;
}

#tollfree {
    float: left;
    color: white;
    margin: 0;
    margin-top: 5px;
}

.fa {
    background-color: white;
    color: #576574;
    padding: 7px;
    border-radius: 50%;
}

.fa-facebook {
    padding: 7px 10px;
}

.fa-instagram {
    padding: 7px 8px;
}

.fa-youtube {
    padding: 7px 8px;
}

/* logo bar */
#logobar img {
    width: 200px;
    margin: 25px 0px;
}

/* navbar */
#navbar {
    background-color: #ee5253;
}

#navbar ul li {
    display: inline-block;
    padding: 20px 0px;
    padding-right: 18px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#navbar ul {
    margin: 0;
    padding: 0;
}

/* poster */
#poster{
    background-image: url(/assets/img/banner.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
#poster h1{
    font-size: 50px;
}
#poster p{
    font-size: 18px;
    text-align: center;
}
#poster img{
    background: gray;
}

/* why us */
#whysection{
    overflow: auto;
}

.red-heading{
    color: #ee5253;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}
.section33{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0px 50px 0 50px;
    box-sizing: border-box;
}
.section33 h2{
    color: #ee5253;
}
.section33 p{
    color: #363636;
}
.section33 img{
    width: 200px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* footer */

#imp-link {
    background-color: #576574;
    color: white;
    overflow: auto;
}

.div33 {
    width: 33.3%;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.div33 h3 {
    font-family: 'Arial-bold';
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

#footer-menu {
    list-style-type: none;
    padding: 0;
}

#footer-menu li {
    padding-bottom: 10px;
}

#footer-menu li a {
    text-decoration: none;
    color: white;
}

#footer-menu-container {
    padding-left: 100px;
}

#copyright {
    background-color: #222f3e;
    text-align: center;
    color: #cbcbcb;
    padding: 5px;
}